.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body{

}

main{
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.main-left{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 50%;
  background-color: bisque;
  height: 50vh;
  /* align-self: flex-start; */
}

.main-right{

}

.main-left > h1{
  padding: 5px;
  margin: 10px 0 0 20px;
}

.main-left > h4{
  padding: 5px;
  margin: 0 0 10px 20px;
}

div.tab-pane.fade.show.active{
  border: 1px solid rgb(202, 196, 196);
  width: 24.55vw;
  height: 30vh;
  background: white;
  border-end-start-radius: 5px;
  border-bottom-right-radius: 5px;
}

